<header id="header_layout">
    <nav>
    <div id="header_name">
       <p> 
            <a href='/api/v1/'>
              CAREER CAMP
             </a>
     </p>
    </div>
    <div id="authentication">
        <!-- list of authentication item -->
        <ul>
            <!-- locals are very important for passing current user presence -->
            <% if(locals.user){ %>
            <!-- if employee is present -->
            <li><a href="/api/v1/students/">Add Student</a></li>
            <li><a href="/api/v1/interviews/">Add Interviews</a></li>
            <li><a href="/api/v1/students/display">Student List</a></li>
            <li>
                <!-- Sign out option -->
                <a href="/api/v1/employees/sign-out">Sign Out</a>
            </li>
            <% } else{ %>
                <li>
                    <!-- Sign in option -->
                    <a href="/api/v1/employees/sign-in">Sign In</a>
                </li>
                <li>
                     <!-- Sign up option -->
                     <a href="/api/v1/employees/sign-up">Sign Up</a>
                </li>
           <% } %>
        </ul>
    </div>
</nav>
</header>